* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hide {
    transition: all 0.75s;
    display: none;
}

.flex {
    transition: all 0.75s;
    align-items: center;
}

.none-width {
    transition: all 0.75s;
    width: 0;
}

.white {
    transition: all 0.75s;
    background-color: white;
    height: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.header {
    /*display: none;*/
    z-index: 99999;
    margin: auto;
    width: 100%;
    /*position: fixed;*/
    /*background-color: transparent;*/
    background-color: black;
}

.header-container {
    transition: all 0.75s;
    z-index: 99999;
    padding-right: 1.5%;
    padding-left: 1.5%;
    position: fixed;
    /*background-color: transparent;*/
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /*background-color: red;*/
    display: flex;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-mini {
    transition: all 0.75s;
    width: 49px;
    height: 49px;
}

.logo-text {
    display: block;
}

.logo-name {
    margin-right: 25px;
    font-size: 50px;
    line-height: 59px;
    color: #000044;
}

.logo-link {
    text-decoration: none;
}

.logo-description {
    /*background-color: blue;*/
    margin-left: 2px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.logo-phone {
    transition: all 0.75s;
    display: block;
}

.first {
    margin-bottom: 9px;
}

.header-links {
    /*background-color: white;*/
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.social-media {
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 9px;
}

.promo {
    margin-bottom: 100px;
}

.promo-container {
    position: relative;
    height: 640px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #E0E0E0 100%);
}

.promo-img {
    position: absolute;
    bottom: -150px;
    right: 0;
}

.promo-text {
    /*background-color: blue;*/
    margin-bottom: 44px;
    width: 60%;
    font-size: 50px;
    line-height: 66px;
    color: #000000;
}

.promo-button {
    height: 64px;
    width: 281px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #000044;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: white;
}

.promo-main {
    /*background-color: red;*/
    position: absolute;
    top: 180px;
    left: 6%;
}

.button-container {
    padding-left: 50px;
    padding-right: 56px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: none;
    background: #FFFFFF;
    border-radius: 0px 30px 0px 0px;
    height: 56px;
}

.button-text {
    margin-left: 9px;
    font-size: 30px;
    line-height: 35px;
}

.about-main {
    margin: auto;
}

.about-text {
    margin: auto;
    text-align: center;
    /*background-color: blue;*/
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 61px;
}

.card {
    display: flex;
    align-items: center;
    margin: auto;
    /*background-color: red;*/
    width: 95%;
    margin-bottom: 28px;
}

.card-text-container {
    display: flex;
    align-items: center;
    height: 200px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D1D1D1;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
}

.card-img {
    padding: 40px 72px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #000044;
    border-radius: 20px 0px 0px 20px;
}

.card-text {
    padding: 40px 22px 40px 27px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.goods-and-contacts {
    padding-top: 54px;
    background: linear-gradient(180deg, #C4C4C4 1.81%, rgba(255, 255, 255, 0) 101.81%), #FFFFFF;
}

.goods-container {
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    width: 95%;
    margin: auto;
    padding-bottom: 43px;
    margin-bottom: 58px;
}

.goods-title {
    padding-top: 28px;
    padding-bottom: 49px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.goods-description {
    /*background-color: tomato;*/
    width: 95%;
    margin: auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 56px;
}

.forage-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-forage {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    border-radius: 20px;
    width: 309px;
    height: 272px;
    margin-bottom: 28px;
}

.forage-img {
    padding: 3% 2% 3% 2%;
    display: block;
    margin: auto;
}

.forage-name {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
}

.contacts-container {
    display: flex;
    width: 95%;
    margin: auto;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EBEBEB;
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 47px;
}

.address-container {
    /*background: #C4C4C4;*/
    width: 30%;
    padding: 36px 25px 19px 38px;
}

.map-container {
    border-radius: 0px 20px 20px 0px;
    width: 70%;
    height: 100%;
    /*background-color: #C4C4C4;*/
}

.map {
    border-radius: 0px 20px 20px 0px;
}

.contacts-title {
    margin-bottom: 58px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.address-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px;
}

.address-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.address-name-sub {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 33px;
}

.phone-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 13px;
}

.phone-first {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.phone-second {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}

.email-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 38px;
}

.email {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 42px;
}

.destination-description {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
}

.footer-not-main {
    height: 73px;
    background: #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.footer-title {
    /*background-color: blue;*/
    font-weight: 500;
    font-size: 48px;
    line-height: 45px;
    color: #FFFFFF;
    margin-left: 3%;
    margin-right: 87px;
}

.footer-social-media {
    margin-top: 10px;
    /*background-color: red;*/
}

.footer {
    padding-top: 107px;
    background: linear-gradient(180deg, #C4C4C4 -2.96%, rgba(196, 196, 196, 0) 50%);
}

.footer-container {
    /*background-color: red;*/
    width: 40%;
    margin: auto;
    margin-bottom: 157px;
}

.footer-question {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 54px;
}

.footer-description {
    /*background-color: blue;*/
    width: 100%;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 47px;
}

.form-container {
    padding: 32px 42px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #949494;
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: blue;*/
    margin: auto;
}

.input-name {
    padding: 15px 0 15px 30px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.input-email {
    padding: 15px 0 15px 30px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.input-description {
    padding: 0px 0 15px 30px;
    height: 290px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.input-description::placeholder {
    vertical-align: top;
}

.input-button {
    margin-left: 48%;
    padding: 11px 57px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #000044;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 32px;
    line-height: 37px;
}

.developer-container {
    padding-bottom: 5px;
    margin: auto;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developer {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.active {
    display: flex;
}

.modal {
    /*padding-top: 1%;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999999;
}

.modal-dialog {
    display: flex;
    z-index: 10000;
    text-align: center;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #E0E0E0 100%), #ffffff;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    max-width: 980px;
    width: 85%;
    border-radius: 5px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.modal-header {
    text-align: center;
    margin: auto;
    /*padding-left: 45px;*/
    width: 95%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #000044;
    border-radius: 40px;
    height: 49px;
    margin-bottom: 21px;
}

.header-text {
    /*background-color: red;*/
    font-weight: 500;
    font-size: 32px;
    line-height: 49px;
    color: #FFFFFF;
}

.modal-contacts {
    padding: 20px 40px;
    width: 80%;
    margin: auto;
    background: #FFF9F9;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contacts-if {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 19px;
}

.contacts-do {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 8px;
}

.modal-phone {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

/*.phone-ico {
    background-color: red;
}*/

.numbers-phone {
    /*background-color: blue;*/
    margin-left: 28px;
}

.phone-first-modal {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 2px;
}

.phone-second-modal {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.mail-do {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
}

.modal-mail {
    display: flex;
    align-items: center;
}

.email-modal {
    margin-left: 28px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.two {
    border-radius:40px;
    margin: auto;
    margin-bottom: 21px;
}

.modal-map-container {
    height: 337px;
    padding: 20px 40px;
    width: 80%;
    margin: auto;
    background: #FFF9F9;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 13px;
}

.modal-button {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #000044;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 0px 10px;
}

.map-you-can {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
}

.map-link {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.map-question {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-left: 28px;
}

.map-pay {
    margin-top: 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}